<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/styles_profile.css">
    <link rel="icon" href="/favicon.png" type="image/png" />
    <title>КМАМК Sim Racing</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/utc"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs/plugin/timezone"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-dayjs"></script>
    <script>
        dayjs.extend(dayjs.plugin.utc);
        dayjs.extend(dayjs.plugin.timezone);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/uk.js'></script> </head>
</head>

<body>
    <%- include('partials/menu') %>

        <div class="main-content-wrapper">
            <aside class="sidebar-left"></aside>
            <main class="profile-main">
                <div class="profile-background-section">
                    <h2>Профiль</h2>

                    <div class="hall-of-fame-wrapper">
                        <div class="hall-of-fame-column">
                            <div class="profile-card hall-of-fame-category">
                                <div class="profile-header">
                                    <div class="profile-avatar-container">
                                        <img id="profile-avatar" src="<%= pilot.PhotoPath %>" alt="Аватар пилота">
                                        <button id="upload-avatar-btn" class="upload-btn">Завантажити</button>
                                        <input type="file" id="avatar-input" accept="image/*" style="display: none;">
                                        <% const defaultAvatarPath='/avatars/default_avatar_64.png' ; %>
                                            <% if (pilot.PhotoPath && pilot.PhotoPath !==defaultAvatarPath) { %>
                                                <button id="delete-avatar-btn" class="delete-btn">Видалити</button>
                                                <% } %>
                                    </div>
                                    <div class="profile-title">
                                        <h2>
                                            <%= pilot.Name %>
                                        </h2>
                                        <% if (pilot.Shortname) { %>
                                            <p class="shortname"> [ <%= pilot.Shortname %> ] </p>
                                            <% } %>
                                    </div>
                                </div>

                                <div class="profile-section">
                                    <form id="profile-form">
                                        <div class="form-group">
                                            <label for="DiscordId">Discord ID</label>
                                            <input type="text" id="DiscordId" name="DiscordId"
                                                value="<%= pilot.DiscordId %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="YoutubeChannel">YouTube Channel URL</label>
                                            <input type="url" id="YoutubeChannel" name="YoutubeChannel"
                                                value="<%= pilot.YoutubeChannel %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="TwitchChannel">Twitch Channel URL</label>
                                            <input type="url" id="TwitchChannel" name="TwitchChannel"
                                                value="<%= pilot.TwitchChannel %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="Instagram">Instagram URL</label>
                                            <input type="url" id="Instagram" name="Instagram"
                                                value="<%= pilot.Instagram %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="Twitter">Twitter URL</label>
                                            <input type="url" id="Twitter" name="Twitter" value="<%= pilot.Twitter %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="iRacingCustomerId">iRacing Customer ID</label>
                                            <input type="text" id="iRacingCustomerId" name="iRacingCustomerId"
                                                value="<%= pilot.iRacingCustomerId %>" pattern="[0-9]*"
                                                title="Должно содержать только цифры">
                                        </div>
                                        <div class="form-group">
                                            <label for="Country">Країна</label>
                                            <input type="text" id="Country" name="Country" value="<%= pilot.Country %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="City">Мiсто / Село</label>
                                            <input type="text" id="City" name="City" value="<%= pilot.City %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="TeamUUID">Учасник команди</label>
                                            <select id="TeamUUID" name="TeamUUID">
                                                <option value="">-- Вибрати --</option>
                                                <% teams.forEach(function(team) { %>
                                                    <option value="<%= team.UUID %>" <%=pilot.TeamUUID===team.UUID
                                                        ? 'selected' : '' %>>
                                                        <%= team.Name %>
                                                    </option>
                                                    <% }); %>
                                            </select>
                                        </div>
                                        <div class="form-group checkbox-group">
                                            <input type="checkbox" id="IsTeamInterested" name="IsTeamInterested"
                                                <%=pilot.IsTeamInterested ? 'checked' : '' %>
                                            <%= pilot.TeamUUID ? 'disabled' : '' %>> <label
                                                    for="IsTeamInterested">Зацікавлений у створенні команди / Приєднанні
                                                    до існуючої команди</label>
                                        </div>
                                        <button type="submit" class="save-btn">Зберегти</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <aside class="sidebar-right"></aside>
        </div>

        <%- include('partials/footer') %>

            <script>
                dayjs.extend(dayjs.plugin.utc);
                dayjs.extend(dayjs.plugin.timezone);
                const pilotName = "<%= pilot.Name %>";
                const form = document.getElementById('profile-form');
                const profileAvatar = document.getElementById('profile-avatar');
                const uploadAvatarBtn = document.getElementById('upload-avatar-btn');
                const avatarInput = document.getElementById('avatar-input');
                const teamUUIDSelect = document.getElementById('TeamUUID');
                const isTeamInterestedCheckbox = document.getElementById('IsTeamInterested');
                const DEFAULT_AVATAR_PATH = '/avatars/default_avatar_64.png';

                function updateDeleteButtonVisibility() {
                    const deleteAvatarBtn = document.getElementById('delete-avatar-btn');
                    if (profileAvatar.src.includes(DEFAULT_AVATAR_PATH)) {
                        if (deleteAvatarBtn) {
                            deleteAvatarBtn.style.display = 'none';
                        }
                    } else {
                        if (!deleteAvatarBtn) {
                            location.reload();
                        } else {
                            deleteAvatarBtn.style.display = 'inline-block';
                        }
                    }
                }

                updateDeleteButtonVisibility();

                function updateIsTeamInterestedState() {
                    if (teamUUIDSelect.value) {
                        isTeamInterestedCheckbox.checked = false;
                        isTeamInterestedCheckbox.disabled = true;
                    } else {
                        isTeamInterestedCheckbox.disabled = false;
                    }
                }

                updateIsTeamInterestedState();

                teamUUIDSelect.addEventListener('change', updateIsTeamInterestedState);

                form.addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const shortnameInput = document.getElementById('Shortname');
                    const iRacingCustomerIdInput = document.getElementById('iRacingCustomerId');
                    let clientErrorMessage = '';

                    if (shortnameInput.value && !/^[A-Za-z]{3}$/.test(shortnameInput.value)) {
                        clientErrorMessage += 'Поле "3-Letter Shortname" має містити три літери (A-Z).\n';
                    }
                    if (!shortnameInput.value) {
                        clientErrorMessage += 'Поле "3-Letter Shortname" є обов\'язковим.\n';
                    }

                    if (iRacingCustomerIdInput.value && !/^[0-9]+$/.test(iRacingCustomerIdInput.value)) {
                        clientErrorMessage += 'Поле "iRacing Customer ID" повинно містити лише цифри\n';
                    }

                    if (clientErrorMessage) {
                        alert(clientErrorMessage);
                        return;
                    }

                    const formData = {
                        Shortname: shortnameInput.value,
                        DiscordId: document.getElementById('DiscordId').value,
                        YoutubeChannel: document.getElementById('YoutubeChannel').value,
                        TwitchChannel: document.getElementById('TwitchChannel').value,
                        Instagram: document.getElementById('Instagram').value,
                        Twitter: document.getElementById('Twitter').value,
                        iRacingCustomerId: iRacingCustomerIdInput.value,
                        Country: document.getElementById('Country').value,
                        City: document.getElementById('City').value,
                        TeamUUID: teamUUIDSelect.value || null,
                        IsTeamInterested: isTeamInterestedCheckbox.checked
                    };

                    try {
                        const response = await fetch(`/profile/${pilotName}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(formData),
                        });

                        const data = await response.json();

                        if (response.ok) {
                            alert(data.message);
                            location.reload();
                        } else {
                            alert('Помилка: ' + data.message);
                        }
                    } catch (error) {
                        console.error('Помилка при оновленні профілю:', error);
                        alert('Помилка при оновленні профілю');
                    }
                });

                uploadAvatarBtn.addEventListener('click', () => {
                    avatarInput.click();
                });

                avatarInput.addEventListener('change', async (event) => {
                    const file = event.target.files[0];
                    if (!file) return;

                    const formData = new FormData();
                    formData.append('photo', file);

                    try {
                        const response = await fetch(`/profile/${pilotName}/upload-photo`, {
                            method: 'POST',
                            body: formData,
                        });
                        const data = await response.json();
                        if (response.ok) {
                            profileAvatar.src = data.photoPath;
                            alert(data.message);
                            updateDeleteButtonVisibility();
                        } else {
                            alert('Помилка: ' + data.message);
                        }
                    } catch (error) {
                        console.error('Помилка завантаження фото:', error);
                        alert('Помилка завантаження фото');
                    }
                });

                document.addEventListener('click', async (event) => {
                    if (event.target.id === 'delete-avatar-btn') {
                        if (!confirm('Ви впевнені, що хочете видалити фото профілю?')) {
                            return;
                        }

                        try {
                            const response = await fetch(`/profile/${pilotName}/delete-photo`, {
                                method: 'DELETE',
                            });
                            const data = await response.json();
                            if (response.ok) {
                                profileAvatar.src = data.photoPath;
                                alert(data.message);
                                updateDeleteButtonVisibility();
                            } else {
                                alert('Помилка: ' + data.message);
                            }
                        } catch (error) {
                            console.error('Помилка при видаленні фото:', error);
                            alert('Сталася помилка при видаленні фото.');
                        }
                    }
                });
            </script>
</body>

</html>