<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Records</title>
    <link rel="stylesheet" href="/styles_tracks.css">
</head>
<body>
    <div class="menu">
        <a href="/pilots">Pilot Rating Table</a>
        <a href="/new-participants">User Growth Statistics</a>
        <a href="/tracks">Track Records</a>
    </div>

    <div class="track-container">
        <% tracks.forEach(track => { %>
        <div class="track">
            <h2><%= track.TrackName %></h2>
            <img src="/<%= track.Image %>" alt="<%= track.TrackName %>">
            <div class="track-info">
                <div>
                    <strong>Qualifying:</strong>
                    <strong><p><%= track.BestQualifyingLapTime %> &nbsp &nbsp &nbsp <%= track.BestQualifyingLapPilot %></p></strong>
                </div>
                <div>
                    <strong>Race:</strong>
                    <strong><p><%= track.BestRaceLapTime %> &nbsp &nbsp &nbsp <%= track.BestRaceLapPilot %></p></strong>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    
    <script>
        // Получаем текущий URL
        var currentUrl = window.location.pathname;
    
        // Функция для добавления класса active к соответствующему пункту меню
        function setActiveMenuItem() {
            var menuItems = document.querySelectorAll('.menu a');
            menuItems.forEach(function(item) {
                if (item.getAttribute('href') === currentUrl) {
                    item.classList.add('active');
                }
            });
        }
    
        // Вызываем функцию при загрузке страницы
        window.onload = setActiveMenuItem;
    </script>
        
</body>
</html>
